
/* Woo */

/* .bricks-before-shop-loop {
    width: 100%;
}

.bricks-element-woocommerce-products {
    margin: 0 auto;
    padding: 15px;
}

.single-product .content-area,
.woocommerce-page #content {
    width: 1100px;
    margin: 20px auto;
} */